{{> header }}

<div>
  {{#each posts}}
  <div class="row">
    <div class="col s10 m10 offset-s1 offset-m1">
      <div class="postcards card z-depth-0">
        <div class="card-content">
          <p class="right red-text accent-2">{{this.category}}</p>
          <a href="/post/{{this.postID}}" class="blue-grey-text darken-2 card-title">{{this.postTitle}}</a>
          <div class="card-action">
            <ul class="hide-on-small-and-down">
              <li class="left">
                <a href="#" class="red-text accent-2"><i class="left material-icons">arrow_drop_up</i>{{this.upvotes}}</a>
              </li>
                <a href="#" class="red-text accent-2"><i class=" left material-icons">arrow_drop_down</i>{{this.downvotes}}</a>
              </li>
              <li class="right">
                <a href="/post/{{this.postID}}" class="red-text accent-2"><i class="left material-icons">list</i></a>
              </li>
            </ul>
            <div class="right hide-on-med-and-up">
              <a class="red-text accent-2 dropdown-trigger btn-flat" href="#" data-target='dropdown1'><i class="material-icons">more_horiz</i></a>
              <ul id='dropdown1' class='dropdown-content'>
                <li>
                  <a href="#!" class="red-text accent-2"><i class="material-icons">arrow_drop_up</i>46</a>
                </li>
                <li>
                  <a href="#!" class="red-text accent-2"><i class="material-icons">arrow_drop_down</i>3</a>
                </li>
                <li>
                  <a href="#!" class="red-text accent-2"><i class="material-icons">list</i>100</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>



  <!-- <a class='left dropdown-trigger btn-small btn-flat' href='#' data-target='sortPostsDrop'>sort</a>
    <ul id="sortPostsDrop" class="dropdown-content">
      <li>
        <a class="blue-grey-text darken-2" href="#">Most Recent</a>
      </li>
      <li>
        <a class="blue-grey-text darken-2" href="#">Top Rated</a>
      </li>
    </ul> -->

  {{#if isAuthenticated}}
  <div class="fixed-action-btn">
    <a class="right btn-floating btn-large waves-effect waves-light blue-grey darken-2 modal-trigger" href="#postModal"><i class="material-icons">add</i></a>
  </div>

  <div id="postModal" class="modal">
    <div class="modal-content">
      <h4>Make a Post</h4>
      <form method="POST" action="post">
        <input type="text" id="postModalTitle" name="makePostTitle">
        <label class="active" for="postModalTitle">Post Title</label>
        <textarea id="postModalBody" class="materialize-textarea"></textarea>
        <label for="postModalBody">Type your post.</label>
        <input type="text" id="postModalLink"></input>
        <label for="postModalLink">Link a photo or video</label>
        <input type="text" id="postModalCategory"></input>
        <label for="postModalCategory">Category</label>
      </form>
    </div>
    <div class="modal-footer">
      <a id="post-submit" class="modal-action modal-close blue-grey darken-2 waves-effect waves-light btn">Post</a>
    </div>
  </div>
  {{/if}}
  

 
  <footer class="footer">
    <p>&copy; Company 2017</p>
  </footer>

    </div> <!-- /container -->
