  {{> header }}
  
  <body>
    {{#post}}
    <div class="row">
      <div class="col s10 m10 offset-s1 offset-m1">
        <div class="postcards card z-depth-0">
          <div class="card-content">
            <p class="right red-text accent-2">{{this.category}}</p>
            <!-- <p>{{this.username}}</p> -->
            <p class="card-title">{{this.postTitle}}</p>
            <div class="card-action">
             {{#if link}} 
              <object class="materialboxed" data="{{this.link}}" width="560" height="315"></object>
              {{/if}}
              <p class="postBody">{{this.postBody}}</p>
            </div>
            <div class="card-action">
              <ul class="hide-on-small-and-down">
                <li class="right">
                  <a href="#" class="red-text accent-2"><i class=" left material-icons">arrow_drop_down</i>{{this.downvotes}}</a>
                </li>
                <li class="right">
                  <a href="#" class="red-text accent-2"><i class="left material-icons">arrow_drop_up</i>{{this.upvotes}}</a>
                </li>
              </ul>
              <div class="right hide-on-med-and-up">
                <a class="red-text accent-2 dropdown-trigger btn-flat" href="#" data-target='dropdown1'><i class="material-icons">more_horiz</i></a>
                <ul id='dropdown1' class='dropdown-content'>
                  <li>
                    <a href="#!" class="red-text accent-2"><i class="material-icons">arrow_drop_up</i>{{this.upvotes}}</a>
                  </li>
                  <li>
                    <a href="#!" class="red-text accent-2"><i class="material-icons">arrow_drop_down</i>{{this.downvotes}}</a>
                  </li>
                </ul>
              </div>
              {{#if isAuthenticated}}
              <div class="commentForm row">
                <div class="col s10 m10 offset-s1 offset-m2">
                  <p>Leave a comment</p>
                  <form>
                    <textarea name="comment" id="postComment" name="replyBody" class="reply materialize-textarea"></textarea>
                    <label for="postComment"></label>
                  </form>
                  <a class="right blue-grey-text darken-2"><i class="material-icons">reply</i></a>
                </div>
              </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/post}}
    
   
    <div class="commentsContainer row">
      <div class="col s10 m10 offset-s1 offset-m1">
        <div class="postcards card z-depth-0">
          <div class="card-content">
            <a class='right dropdown-trigger btn-small btn-flat' href='#' data-target='sortCommentsDrop'>sort</a>
            <ul id="sortCommentsDrop" class="dropdown-content">
              <li>
                <a href="#">Most Recent</a>
              </li>
              <li>
                <a href="#">Top Rated</a>
              </li>
            </ul>
            <p class="card-title">Comments</p>
            <div class="card-action">
              {{#each comment}}
              <div class="commentDiv row">
                <div class="col s12 m12">
                  <p class="red-text accent-2"></p>
                  <p>{{this.comment}}</p>
                  <div class="card-action">
                    <ul class="hide-on-small-and-down">
                      <li class="right">
                        <a href="#" class="red-text accent-2"><i class=" left material-icons">arrow_drop_down</i>{{this.downvotes}}</a>
                      </li>
                      <li class="right">
                        <a href="#" class="red-text accent-2"><i class="left material-icons">arrow_drop_up</i>{{this.upvotes}}</a>
                      </li>
                    </ul>
                    <div class="right hide-on-med-and-up">
                      <a class="red-text accent-2 dropdown-trigger btn-flat" href="#" data-target='dropdown1'><i class="material-icons">more_horiz</i></a>
                      <ul id='dropdown1' class='dropdown-content'>
                        <li>
                          <a href="#!" class="red-text accent-2"><i class="material-icons">arrow_drop_up</i>{{this.upvotes}}</a>
                        </li>
                        <li>
                          <a href="#!" class="red-text accent-2"><i class="material-icons">arrow_drop_down</i>{{this.downvotes}}</a>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>


  </body>